<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
    <p><%= current_user.role %></p>
    <p><%= current_user.email %>
      <% if current_user.admin? %>
       <p> User Count: <%= User.count %></p>
      <% end %>

    <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>

    <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
